#sticky-parallax-header {
	color: #fff;
	height: 100vh;
	width: 100vw;
	background-image: url("https://source.unsplash.com/tZpmdFfU5gQ");
	background-size: cover;
	background-position: 50% 50%;
	background-blend-mode: soft-light;

	display: grid;
	place-items: center;
	text-align: center;
	font-size: calc(4vw + 1em);
}

